@import './addons/variables', './addons/mixins';

/*form-styles file*/
.form__login{
    display: grid;
    grid-template-areas: 
    "user . "
    "password submit";
    position: relative;
    padding: 0.5em;
    max-width: 17.5em;
    row-gap: 0.5em;
    font-weight: bold; 
    //box-shadow: 0 0 8px black;
    border-radius: 0.5em;
    input{
        border: none;
        border-bottom: 3px solid black;
        transition: .5s;
        font-size: 1em;
        //&:focus{
          //  background-color: darken($bgc-secondary, 5);
        //}
    }
    input[type=submit]{
        height: fit-content;
        align-self: flex-end;
        font-weight: bold;
        font-size: 1em;
        border: none;
        background-color: transparent;
    }
}


.login{
    display: flex;
    position: relative;
    background-color: transparent;
    width: 110%;
    overflow: hidden;
    input:hover{
        color:white;
    }
}

div.login{
    display: flex;
    height: fit-content;
    align-self: flex-end;
    width: fit-content;
    margin-left: 0.5em;
    border: 2px solid black;
}

.login::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(20,20,20);
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: .5s;
    overflow: hidden;
}

.login:hover::before{
    width: 100%;
}

/*buttons*/
.button__link{
    display: flex;  
    width: fit-content;
    color: $color-secondary;
    font-weight: bold;
}

.Error-Message{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    max-width: 20em;
    font-size: $size-important*0.75;
    font-weight: bold;
    background-color: $color-error;
    color: white;
    padding: 0.25em;
    box-shadow: 0 0 4px rgb(80,80,80);
}

/*images painter*/
.box__painter{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    place-items: center;
    column-gap: 1em;
    animation: intro 0.5s ease-in forwards;
    opacity: 0;
    margin-bottom: 2em;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img{
        width: 100%;
        cursor: pointer;
        transition: .5s;
        filter: brightness(0.4);
        &:hover{
            transform: scale(1.05);
            filter: brightness(1);
        }
    }
    figure{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        &:hover article{          
            opacity: 1;
        }
        article{
            padding: 0.5em;
            background-color: rgba(0,0,0,0.6);
            color: white;
            opacity: 0;
            transition: 0.5s;
            transform: translateY(-3.5em);
            &:empty{
                background-color: red;
            }
        }
    }
}

/*animations file*/
.animation-translate{
    transform: translateX(-55vw);
    opacity: 0;
    animation: translate .5s ease 0.25s forwards;
}

@keyframes translate {
    100% {
            transform: translateX(0);
            opacity: 1;
        }
}


/*loading or loading file... ?*/
.loader{
    display: flex;
    flex-direction: column;
    width: 80;
    justify-content: center;
    align-items: center;
    .loader-background{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-image: url('https://cdn.midjourney.com/f0d6e775-1558-4049-b329-3ba36cde0011/0_1.png');
        background-position: bottom left;
        height: 20em;
        width: 40em;
        position: relative;
        animation: translateBg 5s linear infinite;
        overflow: hidden;
        border-radius: 2em;
        box-shadow: 0 0 10px black;
        span{
            font-size: 2.5em;
            color: white;
            text-shadow: 0 0 5px black;
            position: absolute;
            z-index: 2;
        }
        img{
            width: 35%;
            position: absolute;
            z-index: 1;
            animation: run  5s ease infinite ;
        }
    }
}

@keyframes run {
    from {transform:  translateX(-150%);}
    to { transform: translateX(150%);}
}

@keyframes translateBg {
    from { background-position: left bottom;}
    to { background-position: right bottom;}
}


/*backgrounds for pages*/


.background-main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    color: white;
    position: relative;
    opacity: 0;
    animation: intro 0.75s ease-in forwards;
    .box__action{
        background-color: rgba(0,0,0,0.6);
        padding: 2em;
        border-radius: 1em;
        border: 2px solid rgb(200,200,200);
        position: absolute;
        box-shadow: 0 0 15px black;
        min-width: 15em;
    }
    a{
        color: white;
        &:hover{
            font-weight: bold;
            text-shadow: 0 0 2px white ;
        }
    }
}

@keyframes intro {
    to {opacity: 1;}
 }


 /*battle ground*/
 .container__battle{
    display: grid;
    grid-template-columns: minmax(30vw, 25em) 1fr minmax(30vw, 25em);
    .box__battle--user{
        display: flex;
        flex-direction: column;
        .box-battle{
            display: flex;
            flex-direction: column;
            background-color: rgba(230,230,230, 0.7);
            padding: 0.5em;
            margin: 1em;
            box-shadow: 0 0 5px black;
            border: 1px solid grey;
            border-radius: 0.25em;
        }
        span{
            font-size: 1.25em;
            font-weight: bold;
            cursor: pointer;
            transition: 0.2s;
            &:hover{
                text-shadow: 0 0 2px rgb(60,60,60);
            }
        }
    }
}

.battle-field{
    display: flex;
    width: 100%;
    height: 18em;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    img{
        height: clamp(10em, 85%, 16em);
        //opacity: 0;
        //animation: toPlay 1s ease 0.2s forwards;
    }
}

/*hpComponenta*/
.background__bar{
    display: flex;
    margin-left: 10%;
    width: 80%;
    height: 0.65em;
    justify-content: left;
    align-items: center;
    background-color: rgba(0,0,0,0.85);
    border: 1px solid rgba(100, 100, 100, 0.4);
    border-radius: 0.35em;
}

.your-hp{
    @include stats-bar;
    background-color: rgb(216, 48, 26);
    
}

.your-energy{
    @include stats-bar;
    background-color: rgb(2, 177, 153);
}


/*battle controller component*/
.box__battle-controll{
    display: grid;
    grid-template-areas: 
    "attack attack"
    "attack attack"
    "avoid switch";
    align-self: center;
    width: 90%;
    margin: 1em;
    color: black;
    font-weight: bold;
    background-color: rgba(0,0,0,0.4);
    border-radius: 0.5em;
    box-shadow: 0 0 8px black;
    overflow: hidden;
    .attacks{
        @include battleButtons;
    }
    .avoid{
        grid-area: avoid;
        @include battleButtons;      
    }
    .switch{
        grid-area: switch;
        @include battleButtons;  
    }
    .reloader{
        grid-column: span 2;
        display: flex; 
        justify-content: center;
        //padding-left: 2em;
        color: white;    
    }
    .deactive{     
        position: relative;
        &::before{
            content: "";
            position: absolute;
            background-color: rgba(0,0,0,0.6);
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            animation: reload forwards;
            animation-timing-function: linear;
            animation-duration: var(--duration, 1s);
            z-index: -1;
        }
    }
}



@keyframes reload {
    from { transform: translateX(0)}
    to { transform: translateX(100%)}
    
}

@keyframes toPlay {
    from { opacity: 0;}
    to { opacity: 1};
    
}


/*MyBox*/
.prevent-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
}

.box__contacts{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2em;
    padding: 2em;
    border: 2px solid white;
    border-radius: 0.5em;
    box-shadow: 0 0 15px black;
    height: fit-content;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(1.8px);
    -webkit-backdrop-filter: blur(1.8px);

}

.container__pc--pokemons{
    display: grid;
    grid-template-rows: minmax(1fr, 15rem);
    width: 80%;
    margin: 2em;
    padding: 2em;
    border: 2px solid white;
    border-radius: 0.5em;
    box-shadow: 0 0 15px black;
    height: fit-content;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(1.8px);
    -webkit-backdrop-filter: blur(1.8px);
}

.grid__layout-auto{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28%, 1fr));
    @include small-window{
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    }
    img{
        max-width: 100%;
    }
}

.box__headline{
    display: flex;
    flex-direction: column;
    align-items: center;
    hr{
        width: 100%;
    }
}

.GameOver{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(#bd3c3c, 0.75);
    align-items: center;
    height: 100vh;
    width: 98vw;
    opacity: 0;
    font-size: 2.5em;
    text-shadow: 0 0 10px black;
    color: white;
    animation: animationGameOver 1s ease forwards;
    z-index: -3;
    h2{
        animation: kukuluku 1s ease forwards;
    }
    .box__choices{
        display: grid;
        grid-template-areas: 
        "headline"
        "div";
        h3{
            grid-area: headline;
        }
        div{
            grid-area: div;
            display: flex;
            width: 100%;
            justify-content: center;
            gap: 1rem;
        }
    }
}

button.box__button{
    cursor: pointer;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    background-color: rgba(30,30,30,0.6);
    transition: .5s;
    &:hover{
        background-color: rgba(30,30,30,0.9);
    }
}

@keyframes kukuluku {
    from { transform: translateY(-50vh)}
    to { transform: translateY(0)}
}

@keyframes animationGameOver {
    from {opacity: 0;}
    to { opacity: 1;}
}

figure.menu__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    img{
        width: 1.75rem;
        filter: brightness(8);
        transition: 0.5s;
    }
    &:hover{
        img{
            transform: scale(1.2);
        }
    }
}