@import './addons/variables', './addons/mixins';


.form__login{
    display: grid;
    grid-template-areas: 
    "user . "
    "password submit";
    position: relative;
    padding: 0.5em;
    max-width: 17.5em;
    row-gap: 0.5em;
    font-weight: bold; 
    //box-shadow: 0 0 8px black;
    border-radius: 0.5em;
    input{
        border: none;
        border-bottom: 3px solid black;
        transition: .5s;
        font-size: 1em;
        //&:focus{
          //  background-color: darken($bgc-secondary, 5);
        //}
    }
    input[type=submit]{
        height: fit-content;
        align-self: flex-end;
        font-weight: bold;
        font-size: 1em;
        border: none;
        background-color: transparent;
    }
}


.login{
    display: flex;
    position: relative;
    background-color: transparent;
    width: 110%;
    overflow: hidden;
    input:hover{
        color:white;
    }
}

div.login{
    display: flex;
    height: fit-content;
    align-self: flex-end;
    width: fit-content;
    margin-left: 0.5em;
    border: 2px solid black;
}

.login::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(20,20,20);
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: .5s;
    overflow: hidden;
}

.login:hover::before{
    width: 100%;
}

/*buttons*/
.button__link{
    display: flex;  
    width: fit-content;
    color: $color-secondary;
    font-weight: bold;
}

.Error-Message{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    max-width: 20em;
    font-size: $size-important*0.75;
    font-weight: bold;
    background-color: $color-error;
    color: white;
    padding: 0.25em;
    box-shadow: 0 0 4px rgb(80,80,80);
}

/*images painter*/
.box__painter{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    place-items: center;
    column-gap: 1em;
    animation: intro 0.5s ease-in forwards;
    opacity: 0;
    margin-bottom: 2em;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img{
        width: 100%;
        cursor: pointer;
        transition: .5s;
        filter: brightness(0.4);
        &:hover{
            transform: scale(1.05);
            filter: brightness(1);
        }
    }
    figure{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        &:hover article{          
            opacity: 1;
        }
        article{
            padding: 0.5em;
            background-color: rgba(0,0,0,0.6);
            color: white;
            opacity: 0;
            transition: 0.5s;
            transform: translateY(-3.5em);
            &:empty{
                background-color: red;
            }
        }
    }
}

/*animation*/
.animation-translate{
    transform: translateX(-55vw);
    opacity: 0;
    animation: translate .5s ease 0.25s forwards;
}

@keyframes translate {
    100% {
            transform: translateX(0);
            opacity: 1;
        }
}


/*loading*/
.loader{
    display: flex;
    flex-direction: column;
    width: 80;
    justify-content: center;
    align-items: center;
    .loader-background{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-image: url('https://cdn.midjourney.com/f0d6e775-1558-4049-b329-3ba36cde0011/0_1.png');
        background-position: bottom left;
        height: 20em;
        width: 40em;
        position: relative;
        animation: translateBg 5s linear infinite;
        overflow: hidden;
        border-radius: 2em;
        box-shadow: 0 0 10px black;
        span{
            font-size: 2.5em;
            color: white;
            text-shadow: 0 0 5px black;
            position: absolute;
            z-index: 2;
        }
        img{
            width: 35%;
            position: absolute;
            z-index: 1;
            animation: run  5s ease infinite ;
        }
    }
}

@keyframes run {
    from {transform:  translateX(-150%);}
    to { transform: translateX(150%);}
}

@keyframes translateBg {
    from { background-position: left bottom;}
    to { background-position: right bottom;}
}


/*backgrounds for pages*/


.background-main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    color: white;
    position: relative;
    opacity: 0;
    animation: intro 0.75s ease-in forwards;
    .box__action{
        background-color: rgba(0,0,0,0.6);
        padding: 2em;
        border-radius: 1em;
        border: 2px solid rgb(200,200,200);
        position: absolute;
        box-shadow: 0 0 15px black;
        min-width: 15em;
    }
    a{
        color: white;
        &:hover{
            font-weight: bold;
            text-shadow: 0 0 2px white ;
        }
    }
}

@keyframes intro {
    to {opacity: 1;}
 }


 /*battle ground*/
 .container__battle{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}