@import './addons/variables', './addons/mixins';

/*pokemons Starter*/

.box__starter{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    column-gap: 2rem;
}

.card__starter{
    @include card;
    border-radius: 8% 92% 7% 93% / 99% 7% 93% 1%;
    height: 12.5rem;
    &:hover{
        height: 20rem;
    }
    &:hover .info__starter{
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition: transform 0.3s 0.15s, opacity 0.5s 0.3s;
    }
    &:hover img{
        transform: scale(1.15);
        filter: contrast(1);
    }
    figure{
        @include column-center;
        width: 18rem;
        max-height: 25rem;
        h2{
            position: relative;
            top: -20%;
        }
        img{
            width: clamp(10rem, 100%, 14rem);
            position: relative;
            top: -22%;
            filter: contrast(0.1) blur(2px);
            transition: 0.5s;
        }       
    }
}

.info__starter{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    position: relative;
    top: -20%;
    overflow-y: scroll;
    scrollbar-width: none;
    transition: 0s;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    p{
        max-height: 12rem;
    }

}

.mission-complete{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 80vh;
    h2{
        color: $color-secondary;
        font-size: 2rem;
    }
    .button__classic{
        color: $color-secondary;
    }
}

.loader-light {
    width: 50px;
    margin: 0 auto;
    margin-block: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,$button-third 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,$button-third);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
  }
  @keyframes l13{ 
    100%{transform: rotate(1turn)}
  }

  // styles for BoxTalks component
  .box__talks{
    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: relative;
    width: 25rem;
    //height: 8rem;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    opacity: 0.9;
    border: 0.1rem solid #ffe4c4;
    border-radius: .5rem;
    box-shadow: 0 0 8px #808080;
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    //overflow: hidden;
    font-size: 1rem;
    color: rgba(50,50,50);
    article{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    p{
    max-height: 8rem;
    overflow-y: scroll;  
    }   
    }
  }

.menu__options{
    display: flex;
    justify-content: flex-start;
    width: 25rem;
    padding: 0.25rem;
    gap: 0.25rem;
}

//NPC setting
.container__npc{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    column-gap: 2rem;
    max-width: 85rem;
    justify-items: center;
    margin: 0 auto;
}
.box__NPC{
    display: grid;
    grid-template-areas: 
    "img"
    "img"
    "article";
    img{
        grid-area: img;
        display: flex;
        margin: 0 auto;
        max-height: 25rem;
        filter: brightness(0.02);
    }
    .my-contact{
        filter: brightness(1);
    }
    article{
        grid-area: article;
        display: flex;
        flex-direction: column;
        background-color: beige;
        background-image: linear-gradient(to top, rgba(108, 156, 140, 0.45) 0%, rgba(145, 219, 197, 0.45) 100%);
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        border: 0.15rem solid rgba(50, 50, 50, 0.7);
        border-radius: .5rem;
        box-shadow: 0 0 8px #808080;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        align-items: center;
        margin-bottom: 0.25rem;
        padding: .5rem;
    }
}

//Styles for TimeStamp component
.box__timestamp{
    display: flex;
    width: 50%;
    height: 1.5rem;
    background-color: rgba($bgc-secondary, 0.5);
    border-radius: 1rem; 
    position: absolute;
    bottom: 10%;
    align-items: center;
    padding: .15rem;
    // wrap and centralized span :)
    div{
        @include flex-centred;
        position: absolute;
        width: 100%;
        height: 100%;
    } 
    span{
        position: absolute;
        z-index: 1;
        font-size: 1.75em;
        font-weight: bold;
        text-shadow: 0 0 4px black;
    }
    .box__item{
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        background-image: linear-gradient( 135deg, #3b00dfa8 10%, #1200d8c0 100%);
        background: linear-gradient(45deg, rgba(27,122,154,1) 5%, rgba(14,80,158,1) 25%, rgba(30,133,168,1) 56%, rgba(19,83,158,1) 78%, rgba(30,133,168,1) 100%);
        position: relative;
        transition: width 1s linear;
    }
}
