@import './addons/variables', './addons/mixins';

/*pokemons Starter*/

.box__starter{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    column-gap: 2rem;
}

.card__starter{
    @include card;
    border-radius: 8% 92% 7% 93% / 99% 7% 93% 1%;
    height: 12.5rem;
    &:hover{
        height: 20rem;
    }
    &:hover .info__starter{
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition: transform 0.3s 0.15s, opacity 0.5s 0.3s;
    }
    &:hover img{
        transform: scale(1.15);
        filter: contrast(1);
    }
    figure{
        @include column-center;
        width: 18rem;
        max-height: 25rem;
        h2{
            position: relative;
            top: -20%;
        }
        img{
            width: clamp(10rem, 100%, 14rem);
            position: relative;
            top: -22%;
            filter: contrast(0.1) blur(2px);
            transition: 0.5s;
        }       
    }
}

.info__starter{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    position: relative;
    top: -20%;
    overflow-y: scroll;
    scrollbar-width: none;
    transition: 0s;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    p{
        max-height: 12rem;
    }

}

.mission-complete{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 80vh;
    h2{
        color: $color-secondary;
        font-size: 2rem;
    }
    .button__classic{
        color: $color-secondary;
    }
}

.loader-light {
    width: 50px;
    margin: 0 auto;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: rotate 1s infinite linear;
  }
  @keyframes rotate {to{transform: rotate(1turn)}}

