/*Backgrounds and colors*/
/*Font setting*/
/*Basic set up*/
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: white;
  color: rgb(40, 40, 40);
}

ul {
  list-style: none;
}

a {
  color: rgb(40, 40, 40);
  text-decoration: none;
  cursor: pointer;
}

input {
  font-family: "Ubuntu", sans-serif;
  padding: 0.5em;
  background-color: transparent;
  border: 2px solid black;
  outline-width: 5px;
  outline: none;
}
input[type=submit] {
  cursor: pointer;
}

fieldset {
  border: none;
}

button {
  display: flex;
  border: none;
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 0.25rem;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 4rem;
  padding-inline: 1rem;
  box-shadow: -8px -8px 20px black;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu {
  display: flex;
  gap: 0.5rem;
}

.menu__item {
  font-size: 1.5rem;
}
.menu__item a {
  font-weight: bold;
  color: white;
  position: relative;
}
.menu__item a::before {
  content: "";
  position: absolute;
  bottom: -0.15rem;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.menu__item a:hover::before {
  color: #e6e6e6;
  transform: scaleX(1);
}

.logo {
  display: flex;
  align-items: center;
}
.logo span {
  font-size: 2.2rem;
  font-weight: bold;
}

/*content*/
.container__base {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  row-gap: 1rem;
}

.container__home {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
}
.container__home .home {
  display: flex;
  flex-direction: column;
  padding-inline: 10vw;
}

.container__profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-areas: "img stats ." "img inventory pokemons";
  row-gap: 1rem;
  margin: 1rem;
  padding-inline: 5vw;
}
@media (max-width: 62.5em) {
  .container__profile {
    grid-template-columns: 1f max-content;
    grid-template-areas: "img stats" "img inventory" ". pokemons";
  }
}

.profile-img {
  grid-area: img;
  display: flex;
  height: auto;
  width: 15rem;
  z-index: 1;
}

.box__user-info {
  grid-area: stats;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
  color: rgb(60, 60, 60);
  border-radius: 0.5em;
  box-shadow: 0 0 8px black;
  scrollbar-width: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  padding: 1rem;
  overflow-y: scroll;
  z-index: 2;
  width: clamp(20rem, 25vw, 35rem);
  max-height: 20rem;
}
.box__user-info::-webkit-scrollbar {
  display: none;
}
.box__user-info .box__user-headline {
  grid-column: span 2;
}
.box__user-info .arrow {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: 0.25rem;
}

.box__badges {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.box__badges figure {
  display: grid;
  width: -moz-max-content;
  width: max-content;
  gap: 0.25rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.box__badges figure img {
  display: flex;
  width: 3rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.box__user-inventory {
  grid-area: inventory;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
  color: rgb(60, 60, 60);
  border-radius: 0.5em;
  box-shadow: 0 0 8px black;
  scrollbar-width: 0px;
  visibility: hidden;
  place-items: center;
  padding-block: 2rem;
  overflow-y: scroll;
  transform: translateY(-110%);
  opacity: 0;
  transition: transform 0.7s, opacity 0.3s;
  z-index: 1;
  width: 100%;
  max-height: 20rem;
}
.box__user-inventory::-webkit-scrollbar {
  display: none;
}
@media (max-width: 62.5em) {
  .box__user-inventory {
    width: 22rem;
  }
}
.box__user-inventory span {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 0.2rem;
}
.box__user-inventory hr {
  width: 70%;
  margin-bottom: 1rem;
}
.box__user-inventory .arrow {
  position: sticky;
  bottom: 1rem;
  left: 100%;
  margin: 1rem;
}
.box__user-inventory .arrow:hover {
  filter: brightness(1);
  transform: rotate(0deg);
}

.box__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  margin-inline: 10%;
}
.box__items figure {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgba(40, 40, 40, 0.1);
  border-radius: 92% 8% 91% 9%/7% 95% 5% 93%;
  border: 3px solid rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  width: 90%;
}
.box__items figure img {
  display: flex;
  width: 75%;
  cursor: pointer;
  padding-block: 0.25rem;
  transition: 0.3s;
}
.box__items figure img:hover {
  transform: scale(1.1);
  z-index: 2;
}
.box__items figure figcaption {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  width: 1.15rem;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
}

.box__user-inventory.active {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}

.box__user-inventory.fast-opacity {
  transition: transform 0.7s, opacity 0.5s 0.1s;
}

.box__user-pokemons {
  grid-area: pokemons;
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
  color: rgb(60, 60, 60);
  border-radius: 0.5em;
  box-shadow: 0 0 8px black;
  scrollbar-width: 0px;
  visibility: hidden;
  width: 40vw;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 1rem;
  padding: 1rem;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.8s, opacity 0.4s 0.3s;
  /*Button Profila B*/
}
.box__user-pokemons::-webkit-scrollbar {
  display: none;
}
@media (max-width: 62.5em) {
  .box__user-pokemons {
    transform: translateY(-100%);
    width: 20rem;
    margin-left: 0;
  }
}
.box__user-pokemons .box__flex-row {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
}
.box__user-pokemons div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  overflow: hidden;
}
@media (max-width: 62.5em) {
  .box__user-pokemons div {
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
}
.box__user-pokemons div figure {
  display: flex;
  flex-direction: column;
}
.box__user-pokemons div figure img {
  width: 100%;
  max-width: 15rem;
  cursor: pointer;
  transition: 0.5s;
}
.box__user-pokemons div figure img:hover {
  transform: scale(1.1);
}
.box__user-pokemons div article {
  max-width: 15rem;
  height: 0;
  background: rgba(220, 220, 220, 0.5);
  border: 1px solid black;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px black;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transform: translateY(8rem);
  opacity: 0;
  transition: height 0.6s, opacity 0.5s, transform 0.4s 0.2s;
  overflow: scroll;
}
.box__user-pokemons div article p, .box__user-pokemons div article h3 {
  margin-inline: 0.5rem;
}
.box__user-pokemons div article h3 {
  margin-top: 0.5rem;
}
.box__user-pokemons div article.actived {
  flex-direction: column;
  transform: translateY(0);
  transition: transform 0.5s, height 0.5s 0.4s, opacity 1s 0.2s ease;
  height: 8rem;
  opacity: 1;
}

.box__user-pokemons.active {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  transition: transform 0.8s, opacity 0.4s 0.3s;
}
@media (max-width: 62.5em) {
  .box__user-pokemons.active {
    transform: translateY(0);
  }
}

.box__user-pokemons.fast-opacity {
  transition: transform 0.8s, opacity 0.2s 0.1s;
}

div.box__user-headline {
  display: flex;
  flex-direction: column;
}
div.box__user-headline h2, div.box__user-headline hr {
  align-self: center;
}
div.box__user-headline hr {
  width: 70%;
  margin-bottom: 1rem;
}

div.box__buttons {
  display: flex;
  align-self: center;
  padding-inline: 1rem;
}

.arrow {
  display: flex;
  height: 2rem;
  width: 2rem;
  padding: 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  filter: brightness(0.3);
}
.arrow:hover {
  filter: brightness(1);
  transform: scale(1.1) rotate(90deg);
}

.container__firstChoice {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130vh;
}

.box__classic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animation-professor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  position: relative;
  overflow: hidden;
}
.animation-professor:hover article {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.2s;
}
.animation-professor:hover .img-wrapper::before {
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateY(0);
}
.animation-professor article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5.5rem;
  position: absolute;
  opacity: 0;
  bottom: 0;
  transform: translateY(0);
  transition: transform 0.5s, opacity 0.8s;
  transition-delay: 0;
  padding: 0.5rem;
  color: white;
  z-index: 2;
}

.img-wrapper {
  opacity: 0;
  animation: intro 0.5s ease-in forwards;
  position: relative;
}
.img-wrapper img {
  width: 100%;
}
.img-wrapper::before {
  content: "";
  display: flex;
  position: absolute;
  bottom: 0;
  height: 5.5rem;
  width: 100%;
  transform: translateY(6rem);
  transition: 0.5s;
}

@keyframes intro {
  to {
    opacity: 1;
  }
}
.btn__primary {
  color: white;
  font-weight: bold;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #757575;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.25s, transform 0.5s;
  position: relative;
  overflow: hidden;
}
.btn__primary :first-child {
  inset: 0;
}
.btn__primary :last-child {
  right: 0;
  top: 0;
}
.btn__primary span {
  position: absolute;
  z-index: 1;
  width: 33%;
  height: 100%;
  background-color: transparent;
  opacity: 0.5;
}
.btn__primary:hover, .btn__primary:focus-visible {
  transform: scale(1.05);
  background-color: #969696;
}
.btn__primary::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: rgba(43, 43, 43, 0.85);
  width: 11%;
  aspect-ratio: 1;
  border-radius: 50%;
  inset: 0;
  margin: auto;
  opacity: 0;
}
.btn__primary:active::before {
  transform: scale(20);
  opacity: 1;
  transition: transform 1s, opacity 0.5s;
}
.btn__primary:has(:first-child:active)::before {
  margin-left: 0;
  transition: transform 0.5s, opacity 0.5s;
}
.btn__primary:has(:last-child:active)::before {
  margin-right: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.pokemon__type {
  background-color: rgb(201, 177, 70);
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  color: white;
  padding: 0.25rem;
  text-transform: uppercase;
  border-radius: 0.25rem;
}

.button__classic {
  position: relative;
  text-transform: uppercase;
  border: 2px solid rgb(40, 40, 40);
  border-radius: 0.2rem;
  padding: 0.35rem;
  overflow: hidden;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
}
.button__classic::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(60, 60, 60);
  filter: blur(35px);
  -webkit-clip-path: polygon(0 0, 23% 0, 100% 100%, 73% 100%);
          clip-path: polygon(0 0, 23% 0, 100% 100%, 73% 100%);
  transform: translate(-60%, 60%);
  transition: transform 0.4s ease;
}
.button__classic:hover {
  filter: opacity(0.75);
}
.button__classic:hover:before {
  transform: translate(60%, -60%);
}

.bounce-in-bck {
  animation: bounce-in-bck 0.6s both;
}

@keyframes bounce-in-bck {
  0% {
    transform: scale(7);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(1.5);
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(1.24);
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(1.04);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.focus-in-expand {
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
.travel {
  animation: travel 4s infinite;
}

@keyframes travel {
  0% {
    transform: translate(0) rotate(0);
  }
  25% {
    transform: translate(-0.5rem, -0.5rem) rotate(-5deg);
  }
  50% {
    transform: translate(0) rotate(0);
  }
  75% {
    transform: translate(0.5rem, 0.5rem) rotate(5deg);
  }
  100% {
    transform: translate(0) rotate(0);
  }
}
.jello-vertical {
  animation: jello-vertical 0.9s both;
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.combined-animation {
  animation: bounce-in-bck 0.6s both, travel 12s 1s infinite;
}/*# sourceMappingURL=styles.css.map */