@import "./addons/variables", "./addons/mixins";

@include start-setting;

header{
    display: flex;
    justify-content: space-between;
    background-color: $bgc-primary;
    color: white;
    height: 4em;
    padding-inline: 1em;
    box-shadow: -8px -8px 20px black;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu{
    display: flex;
    gap: 0.5em;
}

.menu__item{
    font-size: 1.5em;
    a{
        font-weight: bold;
        color: $color-primary;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            bottom: -0.15em;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: white;
            transform: scaleX(0);
            transform-origin: left;
            transition: .5s;
        }    
        &:hover::before{
            color: darken(white, 10);
            transform: scaleX(1);
        }
    }
}

.logo{
    display: flex;
    align-items: center;
    span{
        font-size: 2.2em;
        font-weight: bold;
    }
}
@keyframes logo {
	0% {
		color: rgb(177, 177, 177);
		text-shadow: none;
	}

	90% {
		color: rgb(90, 90, 90);
		text-shadow: none;
	}

	100% {
		color: #e9e9e9;
		
	}
}
/*background style*/



/*content*/

.container__base {
    display: flex;
    flex-direction: column;
    margin: 1em;
    row-gap: 1em;
}

.container__home{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    align-items: center;
    .home{
        display: flex;
        flex-direction: column;
        padding-inline: 10vw;
    }
}

.container__profile{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(15em, 1fr));
    grid-template-areas: 
    "img stats ."
    "img inventory pokemons";
    row-gap: 1em;
    margin: 1em;
    padding-inline: 5vw;
    .profile-img{
        grid-area: img;
        display: flex;
        height: auto;
        width: 15em;
        z-index: 1;
    }
    .box__user-info{
        grid-area: stats;
        position: relative;
        @include profile-card;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1em;
        overflow-y: scroll;
        z-index: 2;
        width: clamp(20em, 25vw, 35em);
        max-height: 20em;
        .arrow{
            position: absolute;
            bottom: 0;
            right: 50%;
            margin-bottom: 0.25em;
        }
        h3{
            grid-column: 1;
        }
        div{
            display: flex;
            flex-direction: column;
            row-gap: 1em;
            figure{
                display: grid;
                width: max-content;
                gap: 0.25em;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);
                div{
                    display: flex;
                    width: 2.5em;
                    height: 2.5em;
                    background-color: transparent;
                    border: 2px solid black;
                    border-radius: 0.5em;
                    box-shadow: 0 0 3px black;
                }
            }
        }
    }
    .box__user-inventory{
        grid-area: inventory;
        position: relative;
        @include profile-card;
        place-items: center;
        padding-block: 2em;
        overflow-y: scroll;
        transform: translateY(-110%);
        opacity: 0;
        transition: transform 0.7s, opacity 0.3s;
        z-index: 1;
        width:100%;
        max-height: 20em;
        span{
            font-size: 2em;
            font-weight: bold;
            padding-bottom: 0.2em;
        }
        hr{       
            width: 70%;
            margin-bottom: 1em;
        }
        .item-list{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
            margin-inline: 10%;
        }
        .item{
            margin: 0;
            padding: 0;
            img{
                height: 100%;
                width: 100%;
                cursor: pointer;
                transition: 0.3s;
                &:hover{
                    transform:scale(1.1);
                }
            }
            
        }
        .arrow{
            position: sticky;
            bottom: 1em;
            left: 100%;
            margin: 1em;
            transform: rotate(-90deg);
            &:hover{
                transform: rotate(-90deg);
            }
        }
    }
    .box__user-inventory.active{
        transform: translateY(0);
        opacity: 1;
    }
    .box__user-inventory.fast-opacity{
        transition: transform 0.7s, opacity 0.5s 0.1s;
    }
    .box__user-pokemons{
        grid-area: pokemons;
        @include profile-card;
        width: 40vw;
        height: fit-content;
        margin-left: 1em;
        padding: 1em;
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 0.8s, opacity 0.4s 0.3s;
        button{
            display: flex;
            width: fit-content;
            padding: 0.25em;
            overflow: hidden;
            background-color: rgba(70,70,70, 0.2);
            border: 1px solid black;
            border-radius: 0.25em;
            transition: 0.5s;
            &:hover{
                background-color: white;
            }
        }
        div{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
            column-gap: 1em;
            overflow: hidden;
            img{
                width: 100%;
                max-width: 15em;
                cursor: pointer;
                transition: 0.5s;
                &:hover{
                    transform: scale(1.1);
                }
            }
            article{
                display: none;
                background-color: rgba(0,0,0, 0.3);
                padding: 0.5em;
                border: 1px solid black;
                border-radius: 0.5em;
                box-shadow: 0 0 5px black;
                transform: translateY(10em);
                transition: 0.5s;
            }
            article.actived{
                display: flex;
                flex-direction: column;
                transform: translateY(0);
            }
        }
    }
    .box__user-pokemons.active{
        transform: translateX(0);
        opacity: 1;
        transition: transform 0.8s, opacity 0.4s 0.3s;
    }
    .box__user-pokemons.fast-opacity{
        transition: transform 0.8s, opacity 0.2s 0.1s;
    }
    .arrow{
        display: flex;
        height: 1.25em;
        width: 1.25em;
        background-color: rgba(250,250,250, 0.6);
        padding: 0.25em;
        border-radius: 50%;
        box-shadow: 0 0 6px black;
        cursor: pointer;
        transition: 0.3s;
        &:hover{
            transform: scale(1.1);
        }
    }
}

.container__firstChoice{
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
        color: $color-secondary;
        font-size: $size-important;
        transition: 0.5s;
        &:hover{
            font-weight: bold;
        }
    }
    .animation-professor{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20em;
        position: relative;
        overflow: hidden;
        &:hover article{
            transform: translateY(0);
            opacity: 1;
            transition-delay: 0.2s;
        }
        &:hover .img-wrapper::before{
            background-color: rgba(0,0,0,0.6);
            transform: translateY(0);
        }
        article{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 5.5em;
            position: absolute;
            opacity: 0;
            bottom: 0;
            transform: translateY(0);
            transition: transform 0.5s, opacity 0.8s;
            transition-delay: 0;
            padding: 0.5em;
            color: $color-primary;
            z-index: 2;
        }
        .img-wrapper{
            opacity: 0;
            animation: intro 0.5s ease-in forwards;
            position: relative;
            img{
                width: 100%;
            }
            &::before{
                content: '';
                display: flex;
                position: absolute;
                bottom: 0;
                height: 5.5em;
                width: 100%;
                transform: translateY(6em);
                transition: 0.5s;
            }
        }
    }
}



@keyframes intro {
    to {opacity: 1;}
 }

