/*Basic set up*/

@mixin start-setting {
    *{
        font-family: 'Ubuntu', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: 0;
    }
    body{
        background-color: $bgc-secondary;
    }
    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
        cursor: pointer;
    }
    input{
        font-family: 'Ubuntu', sans-serif;
        padding: 0.5em;
        background-color: transparent;
        border: 2px solid black;
        outline-width: 5px;
        outline: none;
        &[type=submit]{
            cursor: pointer;
        }
    }
    fieldset{
        border: none;
    }
    button{
        cursor: pointer;
    }
}

@mixin animation-intro{
    animation: intro 0.5s ease-in forwards;
    @keyframes intro {
        to {opacity: 1;}
     }
}

@mixin profile-card{
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    color: rgb(60,60,60);
    border-radius: 0.5em;
    box-shadow: 0 0 8px black;
    scrollbar-width: 0px;
        &::-webkit-scrollbar{
            display: none;
        }
}

@mixin battleButtons{
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 0.5em;
    border: 1px solid grey;
    &:hover{
        background-color: darken(white, 50%);
    }
}