/*Basic set up*/

@mixin start-setting {
    *{
        font-family: 'Ubuntu', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: 0;
    }
    body{
        background-color: $bgc-secondary;
        color: $color-secondary;
    }
    ul{
        list-style: none;
    }
    a{
        color: $color-secondary;
        text-decoration: none;
        cursor: pointer;
    }
    input{
        font-family: 'Ubuntu', sans-serif;
        padding: 0.5em;
        background-color: transparent;
        border: 2px solid black;
        outline-width: 5px;
        outline: none;
        &[type=submit]{
            cursor: pointer;
        }
    }
    fieldset{
        border: none;
    }
    button{
        display: flex;
        border: none;
        @include important-font;
        background-color: $bgc-primary;
        color: $bgc-secondary;
        padding: .25rem;
        cursor: pointer;
    }
    ::-webkit-scrollbar {
        width: 0px;
    }
}

@mixin animation-intro{
    animation: intro 0.5s ease-in forwards;
    @keyframes intro {
        to {opacity: 1;}
     }
}

@mixin profile-card{
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    color: rgb(60,60,60);
    border-radius: 0.5em;
    box-shadow: 0 0 8px black;
    scrollbar-width: 0px;
        &::-webkit-scrollbar{
            display: none;
        }
}

@mixin battleButtons{
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 0.5em;
    border: 1px solid grey;
    &:hover{
        background-color: darken(white, 50%);
    }
}

@mixin small-window {
    @media (max-width: 62.5em) {
        @content;
    }
}

@mixin tiny-window{
    @media (max-width: 400px){
        @content;
    }
}

@mixin stats-bar{
    display: flex;
    justify-self: left;
    align-self: left;
    height: 90%;
    width: 100%;
    border-radius: 0.35em;
    transition: width 0.75s;
    filter: blur(3px);
}

@mixin card{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px black;
    transition: 0.5s;
    cursor: pointer;
}

@mixin flex-centred{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin important-font{
    font-weight: bold;
}