/*Backgrounds and colors*/
$bgc-primary: black;
$bgc-secondary: white;

/*Font setting*/
$color-primary: white;
$color-secondary: rgb(40, 40, 40);
$color-error: rgb(253, 77, 77);
$size-important: 1.5em;
$logo-font: 2.2em;

//units
$standard-unit: 1em;

//types of pokemon
$pokemon-normal: rgb(173, 150, 106);